{% extends "base.html" %}
{% block content %}
    <div class="homepage-contents">
      <div class="row">
        <div class="col-xs-6"style="min-width: 70%;max-width: 70%;">
          <div class="" style = "padding:5em; background-color:#4491a0;margin-top:5em;margin-right:2em;border-radius:0.5em;">
          <div class=" post-text" style="color:white;">
            {% if posts_list.count == 0 %}
            <h1>no posts</h1>
            {% else %}
            <h1 style="text-align:center;">Posts</h1>
            {% endif %}
          </div>
          <hr style= "margin-bottom: 2em;">
          {% for post in posts_list %}
            <div class="row">
              <div class="card" style="margin-bottom:1em;padding:1.5em; box-shadow:0em .5em 1em;width:100%">
                <div class="row">
                  <div class="card-body">
                    <h3 class = "card-title">{{ post.title }}</h3>
                    <p class= "card-text">{{ post.message_html|safe|truncatewords_html:15 }}</p>
                    <p>Created by: <a href="{% url 'post:for_user' username=post.user.username%}"style="text-decoration:none;"> {{post.user.username}}</a>
                       Date: <time> {{post.created_at}} </time></p>
                    {% if post.group and not hide_group %}
                      <p>Group :<a href="{% url 'group:single' slug=post.group.slug%}"style="text-decoration:none;">{{ post.group.name }}</a></p>
                    {% endif %}

                    <div class="media-footer">
                      <a href="{% url 'post:single' username=post.user.username pk=post.pk %}" class = "btn btn-primary" style = "float:left;padding-right:2em;padding-left:2em;padding-top:1em;padding-bottom:1em;text-align:center;"> Go to Post</a>
                      {% if user.is_authenticated and post.user == user and not hide_delete%}
                      <a href="{% url 'post:delete' pk=post.pk %}" class = "btn btn-danger" style = "float:right;padding-right:2em;padding-left:2em;padding-top:1em;padding-bottom:1em;text-align:center;"> Delete</a>
                      {% endif %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
        <div class="col-xs-4"style="min-width: 30%;max-width: 30%;">
          <div class="" style="padding:2em; background-color:#4491a0;margin-top:5em;border-radius:0.5em;">
            <div class="head-group-text" style="text-align:center;margin-top:4em; color:white;">
              <h3>Your Groups</h3>
            </div>
            <hr style= "margin-bottom: 2em;">
            {% for group in user_groups %}
            <div class="row">
              <div class="card" style="margin-bottom:1em;padding:1.5em; box-shadow:0em .5em 1em;width:100%">
                <div class="row">
                  <div class="card-body">
                    <h3 class = "card-title">{{ group.name }}</h3>
                    <p class= "card-text">{{ group.description_html|safe|truncatewords_html:15 }}</p>
                    <p>Member: {{group.members.count}}  Post: {{group.posts.count}}</p>
                    <a href="{% url 'group:single' slug=group.slug %}" class = "btn btn-primary" style = "float:left;padding-right:2em;padding-left:2em;padding-top:1em;padding-bottom:1em;text-align:center;"> Go to Group</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
{% endblock %}
